bin/
*.o
*.d
*.exe
*.obj
.DS_Store
src/*/clean
src/*/all
src/*/*.d
src/*/*.o
src/dskutils/wrdsk
src/dskutils/rddsk
src/freepage/freepagebytes
src/bgm2tmf/bgm2tmfall
src/bgm2tmf/bgm2tmf_kra
src/sr52spr/sr52spr
src/sr52map/sr52map
src/sr52pat/sr52pat
src/mt82map/mt82map
src/cutter/cutter
src/cuttersize/cuttersize
src/tar8k/tar8k
src/tarbin/tarbin
src/tarbinmax/tarbinmax
src/extractwav/extractwav
src/sms2rom/sms2rom
src/dsktool/dsktool
src/ViewSRC/viewsrc
